# Note that networkX is only needed to convert UD-files and uniplot 
# is optional (but highly recommended)

transformers>=4.0.0
torch>=1.3.0
sentencepiece
jsonnet
tqdm
uniplot
networkx==2.5
# sacremoses # only for XLMTokenizer
# protobuf==3.20.0 # only for T5

